.App {
  padding: 10px;
}

.board {
  background-color: black;
  position: relative;
}

.snake {
  background-color: yellow;
  width: 16px;
  height: 16px;
  position: absolute;
  animation: snake-anim infinite 500ms ease-in-out;
  border-radius: 100px;
}

.snake.head {
  width: 20px;
  height: 20px;
  margin-left: -4px;
  margin-top: -4px;
  border: 2px solid white;
  background-color: orange;
  z-index: 1;
}

.food {
  background-color: red;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 100px;
  animation: food-anim infinite 300ms ease-in-out;
}

.message {
  min-height: 30px;
  font-weight: bold;
}

@keyframes snake-anim {
  50% {
    background-color: aqua;
  }
}

@keyframes food-anim {
  50% {
    opacity: 0.5;
  }
}
